<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{DOCUMENT_ROOT}/sites%{REQUEST_URI} -f
    RewriteRule .* /sites%{REQUEST_URI} [QSA,L]

    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
    RewriteRule .* index.php [QSA,L]
</IfModule>