/*

Custom theme

*/

/* TOPBAR */
#topbar span {
  padding: 0 10px;
}
.topbar-colored {
  color:#FFF;
  font-size: 0.9em;
}
.top-menu.right {
  float: right;
}
.top-menu.right a {
  margin-right:0 !important;
}


.text-shadow-white {
  text-shadow:1px 1px 0 #FFF;
}
.text-shadow-black {
  text-shadow:1px 1px 0 #000;
}


/* PAGE TITLE */
#page-title.color .page-title > h1 {
  color: #DF0A40; }
#page-title.color .page-title > span {
  color: #DF0A40; }
#page-title.color .breadcrumb ul li + li:before {
  background-color: #DF0A40; }
#page-title.color .breadcrumb ul li a {
  color: #DF0A40; }


/* BREADCRUMB */
#page-title .breadcrumb.light ul li a {
  color:#FFF;
  text-shadow:1px 1px 0 rgba(0,0,0,0.8);
}
#page-title .breadcrumb.light ul li + li::before {
  background-color:#FFF;
}
#page-title .breadcrumb.dark ul li a {
  color:#333;
  text-shadow:1px 1px 0 rgba(255,255,255,0.8);
}
#page-title .breadcrumb.dark ul li + li::before {
  background-color:#333;
}




/* BUTTON */
.btn:hover, .btn:focus, .btn:active, .btn.active {
  background-color: #a90831;
  border-color: #a90831;
}



/* FOOTER */
.copyright-text {
  padding-top:0;
}